.wrapper
  .container
    header.header
      .header-wrapper
        .header-inner
          .logo
            a(rel="external" href="/")
              img(src="https://ru.indacoin.com/ex/img/logo.png" alt="Здесь логотип")
          .nav-logout
            a(href="/logout") Logout
            a#nick(href="/settings") Alexander
          nav.nav#nav
            ul
              li
                a(href="#") Buy / Sell
              li
                a(href="#") Funding options
              li
                a(href="#") Account history
              li.active
                a(href="#") Investments
              li
                a(href="#") Settings
              li
                a(href="#") Support
          ul.nav-balance#navBalance
            li
              div
                span.name USD
                a.add-funds(href="#")
                span.value 631.88172
              .bal-orders.hide На ордерах
                span 0
            li
              div
                span.name BTC
                span.value 0
              .bal-orders.hide На ордерах
                span 0
            li.last
              div
                span.name LTC
                span.value 12.88171
              .bal-orders На ордерах
                span 200.121419191
          ul.nav-external
            li
              a(href="#" rel="external") Home
            li
              a(href="#" rel="external") About
            li
              a(href="#" rel="external") Terms of use
            li
              a(href="#" rel="external") FAQ
    .contentBlock
      section.content.investments.clearfix#investmentPage
        header
          h1 Investments
        .submit.btn-myinvestments
          a(href="#") My investments
        .content4.invest-form.common-form
          .content4.clearfix
            .content4.radio-wrapper
              label.radio Currency type
              .radio
                input#depCryptoCurrencyType(type="radio" name="dep-currency-type" value="crypto")
                label(for="depCryptoCurrencyType") Bitcoin
              .radio
                input#depMoneyCurrencyType(type="radio" name="dep-currency-type" value="money")
                label(for="depMoneyCurrencyType") USD
          .content2.clearfix
            .input-wrapper.amount
              label Amount, $
              .input
                input#amount(type="text")
          .content2.range
            .input-wrapper
              output(for="fader" id="volume") 500
              input#fader(type="range" data-rangeslider min="100" max="10000" value="500" step="1" oninput="outputUpdate(value)")
              .rangeslider#js-range
                .rangeslider_fill
                .rangeslider_handle
              span.start 100
              span.end 10 000
    footer.clearfix
      .content
        .content2
          .copy
            p © 2014 Indacoin
            p Founded in 2013, the Company is headquartered in London.
        .content2.lang
          ul
            li#eng
              a Eng
            li#esp
              a Esp
            li.active#rus
              a Рус

div#bg