doctype html
html
  head
    title My Investments
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/style.css")
    //[if lt IE 9]<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]
  body
    block content
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="js/main.js")