body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "helveticaneuecyr-light","HelveticaNeue","Helvetica Neue", "Helvetica", "Arial","Lucida Grande",sans-serif;
  color: #fff;
}

ul {
  list-style: none;
}

#bg {
  position: fixed;
  z-index: 0;
  top: 0;
  left: -250px;
  width: 50%;
  height: 100%;
  background-color: #272727;
}

a, a:visited, a:hover {
  color: #FFF;
  text-decoration: none;
}

::selection {
  background: rgba(255,255,255,.77);
  color: #3b3b3b;
}

.wrapper {
  position: relative;
  overflow: hidden;
  min-width: 1080px;
  min-height: 100%;
  background-color: #383838;
}

.container {
  padding-bottom: 80px;
  width: 1080px;
  margin: auto;
  background-color: #383838;
}

.header {
  position: fixed;
  z-index: 1;
  width: 250px;
  min-height: 100%;
  padding: 0 0 0 40px;
  margin: 0 auto;
  background-color: #272727;
}

.hide {
  display: none;
}

.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


.radio-wrapper label.radio, .radio, .checkbox-wrapper label.checkbox, .checkbox {
  float: left;
  padding-top: .6em;
  line-height: 1em;
  min-height: 1em;
}

.radio-wrapper.content4 .radio, .checkbox-wrapper.content4 .checkbox {
  width: 25%;
}

.radio-wrapper.content4 label.radio, .checkbox-wrapper.content4 label.checkbox {
  width: 18.75%;
  padding-right: 6.25%;
}

form, input, select, button {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  border-radius: 0;
}

.radio input[type=radio] {
  display: none;
}

.radio label, .checkbox label {
  padding: 0 10px 0 25px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  line-height: 20px;
}

.radio label:before, .checkbox label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: rgba(0,0,0,.3);
}

.radio input[type=radio]:checked+label:before, .checkbox input[type=checkbox]:checked+label:before {
  background-color: #fff;
}

.input {
  float: left;
  width: 30%;
  height: 33px;
}

.header-inner {
  width: 210px;
  padding: 60px 40px 0 0;
}

.logo {
  float: left;
  width: 70px;
  height: 35px;
}

.nav-logout {
  height: 12px;
}

.nav-logout a {
  float: right;
  padding: 6px;
  margin-top: -6px;
  text-align: right;
  font-size: 12px;
  line-height: 12px;
  color: #999;
}

.nav {
  margin-top: 83px;
  margin-bottom: 30px;
}

.nav li {
  display: block;
}

.nav li a {
  display: block;
  line-height: 15px;
  font-size: 15px;
  padding: 9px 0 7px;
}

.nav li a:hover {
  color: #ffcc00;
}

.nav li.active {
  position: relative;
  background-color: #439a63;
}

.nav li.active:before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  height: 1em;
  padding: 9px 0 6px 0;
  width: 400%;
  background-color: #439a63;
}

.nav li.active:after{
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  height: 1em;
  padding: 9px 0 6px 0;
  width: 40px;
  background-color: #439a63;
}

.nav li.active a:hover {
  color: #FFF;
}

.nav-balance {
  padding-bottom: 172px;
}

.nav-balance li {
  line-height: 39px;
  border-bottom: 1px solid rgba(255,255,255,.5);
  font-size: 14px;
}

  .bal-orders {
    top: -.2em;
  }

.bal-orders {
  position: relative;
  top: -.6em;
  color: #999;
  font-size: 12px;
  line-height: 1em;
}

.bal-orders span {
  float: right;
  color: #ccc;
}

.nav-balance li.last{
  border-bottom:0;
}

.nav-external {
  position: absolute;
  bottom: 0;
  height: 132px;
  margin-bottom: 30px;
}

.nav-external li a{
  font-size: 12px;
  line-height: 33px;
  color: #999;
}

.nav-external li a:hover{
  color: #FFF;
}

.content {
  width: 710px;
  padding: 60px 0 0 290px;
  margin: auto;
  position: relative;
}

.submit {
  line-height: 33px;
  padding-left: 1.2em;
}

.submit.btn-myinvestments {
  float: right;
} 

.submit input, .submit a {
  display: block;
  position: relative;
  color: #FFF;
  cursor: pointer;
  text-align: left;
  width: 100%;
  padding: 0;
  outline: 0;
  background: none;
}

.submit a:hover {
  color: #ffcc00;
}

.submit a:before{
  content: "—";
  position: absolute;
  left: -1.2em;
}

h1 {
  font-size: 60px;
  line-height: 50px;
  margin: 0 0 50px;
  font-weight: normal;
}

footer {
  position: absolute;
  z-index: 0;
  bottom: 0;
  width: 1080px;
  margin: 0 0 30px 0;
}

footer .content {
  padding-top:0;
}

.content2 {
  float: left;
  width: 50%;
}

.lang {
  float: left;
}

.lang ul{
  float: right;
}

.lang ul li {
  float: left;
  margin: 0 0 0 15px;
  font-size: 12px;
  line-height: 12px;
}

.lang li a {
  cursor: pointer;
}

.lang li a:hover {
  color: #ffcc00;
}

.lang li.active a {
  color: rgba(255,255,255,.5);
}

.lang li.active a:hover{
  color: #ffcc00;
}

.copy p {
  font-size: 12px;
  line-height: 15px;
  color: rgba(255,255,255,.5);
}

.content4 {
  float: left;
  width: 100%;
}

.common-form {
  position: relative;
  padding: 40px 0 10px 40px;
  margin-left: -40px;
  background-color: rgba(0,0,0,.2);
  font-size: 15px;
  line-height: 33px;
  color: #fff;
}

.invest-form.content4 {
  margin-bottom: 1em;
}

.content4.common-form {
  margin-bottom: 1.5em;
}

.input-wrapper{
  position: relative;
  padding-top: 1em;
}

.input-wrapper label {
  min-height: 1em;
  line-height: 1em;
  padding-top: .6em;
  float: left;
  width: 50%;
}

.invest-form .amount label {
  width: 40%;
  margin-right: 10%;
  padding: 0;
  line-height: 33px;
  color: #FFF;
}

.invest-form .amount input {
  width: 75%;
}

.input input {
  float: left;
  width: 75%;
  box-sizing: border-box;
  padding: 0 15px 0 0;
  border-bottom: 2px solid #fff;
  background: none;
  font-size: 15px;
  line-height: 33px;
  height: 33px;
  color: #fff;
}

.invest-form .amount input {
  width: 85%;
  padding-right: 0;
}

.input-wrapper input[type="range"] {
  margin-top: .7em;
  padding-top: 2em;
  width: 85%;
}

.input-wrapper output {
  position: absolute;
  text-align: center;
  color: white;
  display: inline-block;
  bottom: 60%;
  left: 0;
}

.nav-balance .add-funds {
  padding: 7px;
  margin-left: 20px;
  background: url(https://ru.indacoin.com/ex/img/add.png) center no-repeat;
}

.nav-balance .value {
  float: right;
  color: #439a63;
}

@media screen and (max-height: 420px) {
  .nav-external li a, .nav-balance li {
    line-height: 1.5em;
  }


@media screen and (max-height: 640px) and (min-height: 520px) {
  .nav {
    margin-top: 43px;
    margin-bottom: .5px;
  }
}

@media screen and (max-height: 420px) {
  .nav li a {
    padding: 2px 0;
  }

  .nav li.active:before, .nav li.active:after {
    padding: 2px 0 1px;
  }

  .nav {
    margin-top: 43px;
    margin-bottom: .5px;
  }
}
